@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

a {
  color: #262228;
  text-decoration: none;
  font-size: 20px;
}

footer {
  border-top: solid #ddd 1px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  color: #777;
}

nav {
  border-bottom: solid #ddd 1px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

nav a,
footer a {
  margin-left: 15px;
  transition: 250ms;
  cursor: pointer;
}

nav a:hover,
nav a:focus,
footer a:hover,
footer a:focus {
  text-decoration: underline;
  font-weight: 700;
}

.btn {
  padding: 5px 10px;
  color: #f2f2f2;
  background: #262228;
  border-radius: 8px;
}

.not-found {
  text-align: center;
  color: #007849;
}
.not-found a {
  color: #262228;
  text-decoration: underline;
}

input {
  outline: 0;
  border: 0;
  background: #f2f2f2;
  padding: 15px;
  margin: 15px 0;
  width: 100%;
}
